.footer{
background:linear-gradient(135deg,#020617,#0f172a);
color:white;
padding:60px 10% 20px;
}

.footer-container{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
gap:40px;
}

.footer-brand h2{
color:#38bdf8;
margin-bottom:10px;
}

.footer-links,
.footer-social{
display:flex;
flex-direction:column;
gap:10px;
}

.footer-links a,
.footer-social a{
color:white;
text-decoration:none;
transition:0.3s;
}

.footer-links a:hover,
.footer-social a:hover{
color:#38bdf8;
}

.footer-bottom{
text-align:center;
margin-top:40px;
font-size:14px;
opacity:0.8;
}
@media (max-width:768px){

.footer-container{
flex-direction:column;
text-align:center;
}

}