/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #0f172a;
  color: white;
  position: sticky;
  top: 0;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Nav links container */
.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

/* Links */
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

/* Hover effect */
.nav-links a:hover {
  color: #38bdf8;
}
.nav-links a[href="/Resume.pdf"]{
background:#38bdf8;
padding:8px 16px;
border-radius:20px;
color:white;
}
/* Mobile Navbar */
@media (max-width: 768px){

.navbar{
flex-direction:column;
gap:10px;
}

.nav-links{
flex-direction:column;
gap:10px;
align-items:center;
}

}